@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.photos-content, .photos-content2{
    height: 50vw;
    width: 50vw;
    padding-left: 20px;
    padding-right: 20px;
}

.content{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    top : 1000000px;
    text-align:justify;
}
.content2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}   
.form-div {
    padding: 80px 60px;
}
.footer-div {
    margin-top: 40vh;
}

@media (max-width: 800px) {
    .navbar-li, .navbar-a, .navbar-button, .footer-li, .footer-a, .footer-p {
        font-size: 3vw;
    }
    .footer-div {
        margin-top: 5vh;
    }
}