@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.photos-content, .photos-content2{
    height: 50vw;
    width: 50vw;
    padding-left: 20px;
    padding-right: 20px;
}

.content{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}   
.form-div {
    padding: 80px 60px;
}

.navbar-header {
	backdrop-filter: blur(2px);
}

.navbar-a {
	font-size: 19px;
}

.footer-a{
	font-size: 19px;
}

.navbar-button {
	font-size: 19px;
}
