@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/*Content css*/

p, h1, h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

form {
    text-align: center;
}

.textbox {
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: #6E6E6DFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    border: none;
}

.richtextbox {
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: #6E6E6DFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    width: 500px;
    height: 250px;
    border: none;
}

.button_send {
    width: 200px;
    height: 60px;
    background: #1a8de4;
    position: absolute;
    top: 120%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 15%;
    border: none;
  }
  
  .button_send::before{
    content: 'Enviar';
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
  }
  
  .button_send:hover::before{
    top: -30%;
  }
  
  .button_send::after {
    font-family: 'FontAwesome';
    content: "\f1d8";
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 150%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
  }
  
  .button_send:hover::after {
    top: 50%;
  }

.form-div {
    padding: 80px 60px;
}

.navbar-header {
	backdrop-filter: blur(2px);
}

.navbar-a {
	font-size: 19px;
}

.footer-a{
	font-size: 19px;
}

.navbar-button {
	font-size: 19px;
}
