@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/*Content css*/

p, h1, h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

form {
    text-align: center;
}

.textbox {
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: #6E6E6DFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    border: none;
}

.richtextbox {
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: #6E6E6DFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    width: 500px;
    height: 250px;
    border: none;
}

.button_send {
    font-weight: 500;   
    font-size: 16px;
    background-color: #1a8de4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 150px;
    height: 45px;
    transition: all 0.3s ease 0s;
}

.button_send:hover {
    background-color: #0272c9;
}

.form-div {
    padding: 80px 60px;
}
