@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.photos-content{
    height: 720px;
    width: 720px;
    padding-left: 20px;
}
.content-causes-erosion{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content-causes-erosion2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}   
.content-causes-contamination{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content-causes-contamination2{
    padding: 0px 20px;
    margin: 10px auto 10px;
    text-align: justify;
}
.content-causes-droughts{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content-causes-droughts2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}
.content-causes-forestfires{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content-causes-forestfires2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}
.content-causes-industrialwaste{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content-causes-industrialwaste2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}
.content-causes-watercontamination{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content-causes-watercontamination2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}
.content-causes-inorganicwaste{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    top : 1000000px;
}
.content-causes-inorganicwaste2{
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
}

.form-div {
    padding: 80px 60px;
}

.navbar-header {
	backdrop-filter: blur(2px);
}

.navbar-a {
	font-size: 19px;
}

.footer-a{
	font-size: 19px;
}

.navbar-button {
	font-size: 19px;
}
