@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.background1, .background2 {
    width: 98.9vw;
    position: absolute;
    z-index: -1;
}

.background1 {
    top: 0%;
}

.background2 {
    top: 100%;
}

.navbar-header {
    background-color: #1c2547a8;
}

.footer-div {
    margin-top: 99%;
}
