@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.content-time-left {
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    top : 1000000px;
    text-align:justify;
    font-family: "Montserrat", sans-serif;
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.form-div {
    padding: 80px 60px;
}

.button1-Resources:hover, .button3-Community:hover, .button4-Media:hover{
    -webkit-transform:scale(1);transform:scale(1.3);
    transition: .7s ease-out all;
}

.timeleft-photos{
    width: 100vw;
    height: auto;
}

.videos-dimensions{
    width: 100vw;
    height: 50vw;
}
