@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.content-resources {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    top : 1000000px;
    text-align:justify;
    font-family: "Montserrat", sans-serif;
    padding: 0px 20px;
    margin: 10px auto 10px; 
    text-align: justify;
    padding-left: 130px;
    padding-right: 130px;
}

.form-div {
    padding: 80px 60px;
}

.button2-how-much-time-do-we-have:hover, .button3-Community:hover, .button4-Media:hover{
    -webkit-transform:scale(1);transform:scale(1.3);
    transition: .7s ease-out all;
}

.resources-photos{
    width: 100vw;
    height: auto;
}

@media (max-width: 800px) {
	.content-resources{
        font-size: 4vw;
        padding-left: 10px;
        padding-right: 10px;
    }
}