@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.background1, .background2 {
    width: 99.1vw;
    position: absolute;
    z-index: -1;

}

.background1 {
    top: 10%;
}

.background2 {
    top: 70%;
	height: 48vw;
}

.navbar-header {
	backdrop-filter: blur(10px);
}

.navbar-a {
	font-size: 19px;
}

.footer-a{
	font-size: 19px;
}

.navbar-button {
	font-size: 19px;
}

.footer-div {
    margin-top: 70%;
}

.container{
	background-color: black;
}

/* ? ----- Port timer css  ----- */
.countdown {
	width: 100%;
	position:relative;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

/* ? ----- Timer css ----- */
#count {
	display: flex;
	justify-content: center;
	margin-bottom: -1430px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;   
    font-size: 16px;
	color: white;
	

}

.simply-section {
	background:transparent;
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.simply-amount {
	display: block;
	font-size: 30px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}