@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.button1-Resources, .button1-Resources:hover, .button2-how-much-time-do-we-have, .button2-how_much_time_do_we_have:hover,
.button3-Community, .button3-Community:hover, .button4-Media, .button4-Media:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);  
    height: 540px;
    width: 270px;
    top : 40px;
    right : 60px;
    margin: 10px auto 10px;
    line-height: 200px;
    border: none;
}

.Buttons:hover {
    cursor: pointer;}

.contents{
    font-family: "Montserrat", sans-serif;
}

.form-div {
    padding: 60px 40px;
}
