@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.background1, .background2 {
    width: 98.9vw;
	height: 55vw;
    position: absolute;
    z-index: -1;

}

.background2 {
    top: 32vw;
	height: 48vw;
}

.footer-div {
    margin-top: 70vw;
}

.container{
	background-color: black;
}

/* ? ----- Port timer css  ----- */
.countdown {
	width: 100vw;
	position:relative;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

/* ? ----- Timer css ----- */
#count {
	display: flex;
	justify-content: center;
	margin-bottom: -100vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;   
    font-size: 2vw;
	color: white;
	

}

.simply-section {
	background:transparent;
	width: 10vw;
	height: 10vw;
	margin: 0 1vw;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.simply-amount {
	display: block;
	font-size: 2vw;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 2.2vw;
}