@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/*Body css*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/*Navbar and footer  css*/

.navbar-li, .navbar-a, .navbar-button, .footer-li, .footer-a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;   
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.footer-div {
    background-color: #000000;
    top: 100%;
}

.navbar-header {
    background-color: #1c2547;
}

.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5%;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
}

.logo {
    cursor: pointer;
    border-radius: 50px;
}

.links-navbar li, .links-footer li {
    display: inline-block;
    padding: 0px 20px;
}

.links-navbar li a, .links-footer li a{
    transition: all 0.3s ease 0s;
}

.links-navbar li a:hover, .links-footer li a:hover{
    color: #1a8de4;
}

.navbar-button {
    padding: 9px 25px;
    background-color: #1a8de4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar-button:hover {
    background-color: #0272c9;
}
.photos-content{
    height: 720px;
    width: 720px;
}
.content-causes-erosion{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    top : 1000000px;
}
.content-causes-contamination{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    top : 1000000px;
}
.content-causes-droughts{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    top : 1000000px;
}